/********** Mobile Design *************/
html {
  height: 100%;
}

body {
  font-family: "Ubuntu", sans-serif;
  max-width: 375px;
  height: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.wrapper-blank {
  width: 100%;
  height: 100%;
}

.main-bkg {
  background-color: hsl(217, 100%, 97%);
  height: 80%;
  margin: 10% 0 5%;
  background-image: url("./assets/images/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
}

.sidebar {
  padding: 10% 0 7%;
  display: flex;
  justify-content: center;
}

.sidebar-number {
  border-radius: 50%;
  border: 1px solid hsl(0, 0%, 100%);
  padding: 2% 3.5%;
  margin: 0 2%;
  font-weight: 500;
  color: hsl(0, 0%, 100%);
}

.sidebar-number:nth-child(2) {
  background-color:hsl(228, 100%, 84%);
  color:hsl(213, 96%, 18%);
}

.card, .card-page-one, .card-page-two {
  background-color: hsl(0, 0%, 100%);
  max-width: 75%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 3% 8% 6%;
  box-shadow: 0 10px 10px hsl(231, 11%, 85%);
}
.request-text {
  padding: 0 0 5%;
  color: hsl(231, 11%, 63%);
  margin-bottom: 10px;
}

.input-area {
  display: flex;
  flex-direction: column;
  /* margin: 0 10%; */
}

.input-area label {
  margin: 5px 0;
  font-size: 0.8rem;
  font-weight: 600;
}
.input-area input {
  padding: 4%;
  font-family: "Ubuntu", sans-serif;
  border-color: hsl(231, 11%, 85%);
  border-style: solid;
  box-shadow: none;
  margin-bottom: 10px;
}

input::placeholder {
    color: hsl(231, 11%, 85%);
    font-weight: bold;
    font-size: 0.9rem;
}

.next-step, .go-back {  
  color: white;
  background-color: hsl(213, 96%, 18%);
  padding: 10px 15px;
  border-radius: 5px;
  font-family: "Ubuntu", sans-serif;  
}

.next-step {
  float: right;
  margin-right: -5%;
  margin-top: 50%;
}

.go-back {
  float: left;
  margin-top: 50%;
}


.step,
.sidebar-text {
  display: none;
}

.step-two,
.step-three,
.step-four,
.step-five {
  display: none;
}

.card-page-two {
  display: none;
}

.choice {
  border: 1px solid hsl(229, 24%, 87%);;
  border-radius: 5px;
  margin: 5% 0;
  display: flex;
  align-items:center;
  cursor:pointer;
}

.choice:hover {
  border-color: hsl(243, 100%, 62%);
  background-color: hsl(217, 100%, 97%);
}

.choice p {
  margin: 5%;
}

.choice img {
  padding: 15px 0px 15px 15px;
}

span.bold-text {
  font-weight:700;
  display: block;
  margin-bottom: 2px;
}

span.price {
  color:hsl(229, 24%, 70%);
  font-size: .85rem;
  padding-top: 5px;
}

.inactive {
  display: none;
  
}

.active {
  display: block;
  /* position: absolute; */
  /* top: 50px; */
}

/************** Footer ****************/
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
